<div class='row page-panel'>
  <div class='span1'>
    <div class='span10'>
      <h1><%=@breed.name.upcase%></h1>
      <p> Inducted in the year: <%=@breed.intro_year%></p>
      <p> Ranked <%=@breed.akc_rank%> in popularity by the AKC.</p>
      <p> Belongs to the <%=@breed.group.name%> group.</p>
      <p> Typically has a <%=@breed.energy_level%> / 3 energy. </p>
      <p> Is typically a <%=@breed.size%> sized breed.</p>
      <div class="row standard-bearer">
        <iframe src="http://www.akc.org/embeds/breed-standard/<%=@breed.name.split(" ").join("-")%>" frameborder="0" width="90%" height="90%"></iframe>
      </div>
    </div>
  </div>
</div>
