<div class='row page-panel'>
  <div class='span1'>
    <div class='span10'>
      <h1><%=@organization.name.upcase%></h1>
      <p><%=@organization.description%></p>
      <a href="http://<%=@organization.site_url%>">Visit the <%=@organization.name%> HomePage.</a>
      <%= react_component("Dogs", dogs: @organization.dogs)%>
    </div>
  </div>
</div>
