<!DOCTYPE html>
<html>
<head>
  <title>FinalApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= react_component("Nav_bar")%>

  <div class='container'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <%= yield %>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
<footer>
  <%= react_component("Nav_trail")%>
</footer>
</html>
