<!DOCTYPE html>
<html>
<head>
  <title>DoogleApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Montserrat|Lato' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= react_component("Nav_bar")%>
  <div class='container'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>

    <%= yield %>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
<footer>
  <%= react_component("NavTrail")%>
</footer>
</html>
